<main>

  <section class="show-page">
    <h1>{{snack.name}}</h1>

    <div class="content-container">
      <p class="category"><i class="fa-solid fa-utensils"></i>
        類別：{{snack.category}}</p>
      <p class="location"><i class="fa-solid fa-house"></i>
        地點：{{snack.location}}</p>
      <p class="phone"><i class="fa-solid fa-phone-volume"></i>
        電話：{{snack.phone}}</p>
      <p class="business_hours"><i class="fa-solid fa-clock"></i>
        營業時間：{{snack.business_hours}}</p>
      <p class="rating"><i class="fa-solid fa-star"></i>
        Google評價：{{snack.rating}}</p>
      <p class="description">{{snack.description}}</p>
      <div class="image">
        <img src={{snack.image}} alt="" />
      </div>
    </div>

  </section>
</main>